# Angular build output
/dist
/tmp
/out-tsc
/.angular/cache
/bazel-out

# Dependencies
/node_modules
/package-lock.json
/yarn.lock

# IDEs and editors
.idea/
.project
.classpath
.settings/
.vscode/*
.history/
*.sublime-workspace

# Logs
npm-debug.log*
yarn-error.log*

# Coverage & testing
/coverage
/testem.log

# Miscellaneous
.sass-cache/
connect.lock
libpeerconnection.log

# System files
.DS_Store
Thumbs.db
