.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #f0f0f0;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 0; 
    max-width: 600px;
    font-weight: bold; 
  }
  
  p {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #666;
    font-size: 1.1em;
    text-align: center;
    font-weight: bold; 
  }