
body {
    font-family: "Serif", Georgia, Times, "Times New Roman", serif;
    background-color: black;
    color: white;
    text-align: center; 
    margin: 0;
    padding: 0;
  }
  
  button {
    background-color: lavender;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    font-family: inherit;
  }
  
  button:hover {
    background-color: #d8bfea; 
  }
  
  html,
  body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  